


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwnIt Buying Cheep Cloths and Asscessories</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/images_for_ownIt/logo.png" type="image/x-icon">
    <!-- BOOTSTRAPS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="/fontawesome-free-5.13.1-web/css/all.min.css">
    <!-- CSS LINK -->
    <link rel="stylesheet" href="/css/css_for_ownIt/main.css">
</head>

<body>
    <!-- Loading page -->
    <div class="landing" id="landing">
        <div class="">
            <img class="preloader" src="/preloaders/802 (1).svg" alt="img" srcset="">
            <span class="fnt-md">Loading...</span>
        </div>
    </div>

    <main class="fade-opacity">
        <!-- FOR PHONE HEADER -->
        <nav id="phoneNav" class="navbar navbar-expand-lg">
            <!-- Brand -->
            <a class="navbar-brand" href="home">
                <img src="/images/images_for_ownIt/ownIt-B.png" alt="">
            </a>
    
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fa fa-ellipsis-v"></i>
            </button>
    
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="707">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="707">My Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="707">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="707">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <!-- FOR TAB AND SYSTEM HEADER -->
        <div id="systemNav">
            <div class="person-acc d-flex justify-content-between align-items-center">
                <ul class="nav justify-content-end align-items-center float-left fnt-xs ">
                    <li class="nav-item ">
                        <span class="nav-link mini-list color-b">YOUR CHEAP AND AFFORDABLE CLOTHES</span>
                    </li>
                </ul>
                <ul class="nav justify-content-end align-items-center fnt-xs b">
                    <li class="nav-item">
                        <a class="nav-link mini-list" href="707">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mini-list" href="707">My Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mini-list" href="707">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mini-list" href="707">LogIn</a>
                    </li>
                    <span class="separator"></span>
                    <li class="nav-item">
                        <a class="nav-link mini-list" href="707"><i class="fab fa-instagram fnt-md"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mini-list" href="707"><i class="fab fa-whatsapp fnt-md"></i></a>
                    </li>
                </ul>
            </div>
            <hr class="hr-line color1">
            <div class="top-nav d-flex justify-content-center justify-content-between align-items-center">
                <div class="logo">
                    <a href="home">
                        <img src="/images/images_for_ownIt/ownIt-B.png" alt="logo" width="40%">
                    </a>
                </div>
                <div class="input-group search">
                    <input type="search" class="form-control" placeholder="Search All Category...">
                    <div class="input-group-append">
                        <button class="btn search-btn color1-bg" type="submit"><i class="fas fa-search color2"></i></button>
                    </div>
                </div>
                <div class="mini-nav">
                    <ul class="nav justify-content-end fnt-sm">
                        <li class="nav-item">
                            <a class="nav-link mini-list" href="tel:+2349074826551"><i
                                    class="fnt-md color2 fas fa-phone-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mini-list" href="707"><i class="fnt-md color2 fas fa-user-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mini-list" href="707"><i class="fnt-md color2 far fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mini-list" href="707"><i class="fnt-md color2 fas fa-box-open"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="bottom-nav sticky-top color1-bg">
            <nav class="bottom-nav-ul navbar navbar-expand-lg justify-content-between">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link sticky-nav-list active-page color-w fnt-md" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sticky-nav-list color-w fnt-md" href="products">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sticky-nav-list color-w fnt-md" href="707">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sticky-nav-list color-w fnt-md" href="707">Contact Us</a>
                    </li>
                </ul>
    
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link sticky-nav-list d-flex justify-content-end align-items-center color-w fnt-md"
                            href="707">
                            Daily deals
                            <svg class="daily-deal-svg" width="10%" enable-background="new 0 0 500 500" id="Layer_1"
                                version="1.1" viewBox="0 0 500 500" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <g>
                                        <polygon
                                            points="163.9,246.5 144.5,227.1 167.9,203.8 167.9,141 195.2,141 195.2,215.1   " />
                                    </g>
                                    <g>
                                        <polygon
                                            points="427.9,414.8 126.8,414.8 126.8,282.9 154.2,282.9 154.2,387.4 400.6,387.4 400.6,223.1 273.8,223.1 273.8,195.7     427.9,195.7   " />
                                    </g>
                                    <g>
                                        <polygon
                                            points="427.9,223.1 400.6,223.1 400.6,168.4 276.3,168.4 276.3,141 427.9,141   " />
                                    </g>
                                    <g>
                                        <path
                                            d="M181.6,305.3c-60.4,0-109.5-49.1-109.5-109.5S121.2,86.2,181.6,86.2s109.5,49.1,109.5,109.5S241.9,305.3,181.6,305.3z     M181.6,113.6c-45.3,0-82.1,36.8-82.1,82.1s36.8,82.1,82.1,82.1s82.1-36.8,82.1-82.1S226.8,113.6,181.6,113.6z" />
                                    </g>
                                    <g>
                                        <rect height="27.4" width="27.4" x="345.8" y="332.6" />
                                    </g>
                                    <g>
                                        <rect height="27.4" width="27.4" x="345.8" y="277.9" />
                                    </g>
                                    <g>
                                        <rect height="27.4" width="27.4" x="291.1" y="277.9" />
                                    </g>
                                    <g>
                                        <rect height="27.4" width="27.4" x="291.1" y="332.6" />
                                    </g>
                                    <g>
                                        <rect height="27.4" width="27.4" x="236.3" y="332.6" />
                                    </g>
                                    <g>
                                        <rect height="27.4" width="27.4" x="181.6" y="332.6" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
