


    <!-- SUPPORTERS -->
    <div class="supporters box-fluid d-flex justify-content-around" align="center">
        <img src="/images/images_for_ownIt/footerImage/IMG-20200724-WA0004.jpg" alt="" width="20%">
        <img src="/images/images_for_index/new-act-image1.png" alt="" width="20%">
        <img src="/images/images_for_ownIt/footerImage/IMG-20200726-WA0005.jpg" alt="" width="20%">
        <img src="/images/images_for_ownIt/footerImage/IMG-20200724-WA0005.jpg" alt="" width="20%">
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <div class="footer-top">
            <div class="section section1">
                <h4 class="fnt-sm b">COMPANY</h4>
                <div class="card2-btn">
                    <ul class="ul-list">
                        <li class="li-list dull-txt fnt-sm">
                            <a href="home" class="color-w">
                                Home
                            </a>
                        </li>
                        <li class="li-list dull-txt fnt-sm">
                            <a href="products" class="color-w">
                                Shop
                            </a>
                        </li>
                        <li class="li-list dull-txt fnt-sm">
                            <a href="707" class="color-w">
                                Contact
                            </a>
                        </li>
                        <li class="li-list dull-txt fnt-sm">
                            <a href="707" class="color-w">
                                About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section section2">
                <h4 class="fnt-sm b">SUPPORT</h4>
                <div class="card2-btn">
                    <ul class="ul-list">
                        <li class="li-list dull-txt fnt-sm">
                            <a href="707" class="color-w">
                                My Account
                            </a>
                        </li>
                        <li class="li-list dull-txt fnt-sm">
                            <a href="707" class="color-w">
                                Cart
                            </a>
                        </li>
                        <li class="li-list dull-txt fnt-sm">
                            <a href="707" class="color-w">
                                Wishlist
                            </a>
                        </li>
                        <li class="li-list dull-txt fnt-sm">
                            <a href="707" class="color-w">
                                Shipping Infomation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section section3">
                <h4 class="fnt-sm b">CONTACT INFO</h4>
                <div class="card2-btn">
                    <ul class="ul-list">
                        <li class="li-list fnt-sm">
                            <h5 class="fnt-sm">ADDRESS:</h5>
                            <address class="dull-txt fnt-sm b">Shop 58 Delta Mall,<br>
                                Effurun, Delta State,<br>
                                Nigeria
                            </address>
                        </li>
                        <li class="li-list fnt-sm">
                            <h5 class="fnt-sm">PHONE:</h5>
                            <a href="tel:+2349074826551">
                                <span class="dull-txt fnt-sm">
                                    +2349074826551
                                </span>
                            </a>
                        </li>
                        <li class="li-list fnt-sm">
                            <h5 class="fnt-sm">EMAIL:</h5>
                            <a href="mailto:eewoma75@gmail.com">
                                <span class="dull-txt fnt-sm">eewoma75@gmain.com</span>
                            </a>
                        </li>
                        <li class="li-list fnt-sm">
                            <h5 class="fnt-sm">WORKING HOURS:</h5>
                            <span class="dull-txt fnt-sm">Mon - Sun / 9:00 AM - 8:00 PM</span>
                        </li>
                        <li class="li-list dull-txt fnt-md">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-whatsapp"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="dont-touch">
                <img src="/images/images_for_ownIt/footerImage/nigeria-flag.jpg" alt="country flag" width="10%">
                <span class="fnt-sm b">Nigeria</span>
                <span class="fnt-sm b">| English(NG) |</span>
                <span class="fnt-sm b">&#8358;(Naria)</span>
            </div>
            <div class="finishing">
                <span class="fnt-sm">© 2020 OwnIt, Inc.</span>
                <span class="fnt-sm">
                    <a href="#x">Terms of Use</a>
                </span>
                <span class="fnt-sm">
                    <a href="#x">Privacy</a>
                </span>
                <span class="fnt-sm">
                    <a href="#x">Interest</a>
                </span>
            </div>
        </div>
    </div>
    </main>

   